/* écris les sélecteurs en en dessous du commentaire correspondant */

 {
  color: orange;
}

{
  width: 75%;
  background-color: #ff7e7e;
  padding: 2rem;
  margin: 1rem 0;
}

 {
  width: 30%;
}

{
  background-color: #ffffff;
  padding: 1rem;
}